.card{
    background: #f6f6f6;
    border: 0;
}
.card-title{
    margin-bottom: 10px;
    color: #8590A6;
}
.card-title-item{
    margin-right: 10px;
}
.card-title-info{
    color: #8590A6;
    font-size: 12px;
}
.card-title-numde {
    color: #121212;
    font-size: 20px;
    margin-left: 3px;
}