<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/index.css" />
	</head>

	<body>
		<div id="app2" style="margin-left: 800px;">

			<el-form  label-width="50px"  style="width: 500px;">
				<el-form-item label="类型">
					<el-input v-model="pass" style="width: 300px;"></el-input>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="submitForm1()">提交</el-button>
					<el-button @click="resetForm('ruleForm')">重置</el-button>
				</el-form-item>
			</el-form>

		</div>
	</body>
	<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../js/axios.min.js"></script>
	<script type="text/javascript" src="../../js/axios_cfg.js"></script>
	<script type="text/javascript" src="../../js/index.js"></script>
	<script>
		
		var _this;
		var app = new Vue({
			el: "#app2",
			data: {
				pass:""
			},

			methods: { //方法的集合
				voluntarily:function(){
					var id = sessionStorage.getItem("zhutieid"); 
					axios({
						method: "get",
						url: "http://127.0.0.1:8080/api/persons/lyw/Typesofchanges1/"+id,
						
					}).then(response => {
						console.log(response)
						 	var api = response.data
						 	if(api.code==200){
						 		for (var i=0;i<api.data.length;i++) {
									_this.pass=api.data[i].goodsTypename;
								
								}
						 			console.log(_this.tableData)
						 	}
						
					})
				},
				
				submitForm1:function(){
					var id = sessionStorage.getItem("zhutieid"); 
					axios({
						method: "get",
						url: "http://127.0.0.1:8080/api/persons/lyw/Typesofchanges/"+id+"/"+_this.pass,
						
					}).then(response => {
						console.log(response)
						 	var api = response.data
						 	if(api.code==200){
						 		alert("nh")
						 		console.log(_this.tableData)
						 		location.href="../lyw/dzw_commodity.html"
						 	}
						
					})
				},
				
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				
				

			},
			mounted() {
				_this = this;
				_this.voluntarily();
			}

		});
	</script>
</html>
